/Practicas/Tema 2/Practica_1/Practica1/nbproject/private/
/Practicas/Tema 2/Practica_1/Practica1/build/
/Practicas/Tema 2/Practica1/nbproject/private/
/Practicas/Tema 2/Practica1/build/
/Practicas/Java/Practica3/nbproject/private/
/Practicas/Java/Practica1/nbproject/private/
/Practicas/Java/Practica1/build/