/Practicas/Tema 2/Practica_1/Practica1/nbproject/private/
/Practicas/Tema 2/Practica_1/Practica1/build/
/Practicas/Tema 2/Practica1/nbproject/private/
/Practicas/Tema 2/Practica1/build/
/Practicas/Java/Practica3/nbproject/private/
/Practicas/Java/Practica1/nbproject/private/
/Practicas/Java/Practica1/build/
/Practicas/Java/Practica_Pruebas/nbproject/private/
/Practicas/Java/Practica_Pruebas/build/
/Practicas/Java/Ejercicio_5/nbproject/private/
/Practicas/Java/Ejercicio_5/build/
/Practicas/Java/Teoria/nbproject/private/
/Practicas/Java/Practica3/build/
/Practicas/Java/Ejercicio/nbproject/private/
/Practicas/Java/PruebasDos/nbproject/private/
/Practicas/Java/PruebasDos/build/
/The-Boss-Final/Parcial1/target/
